<!-- Start Header -->
<header id="header" class="second-version">
  <div class="container">
    <div class="header-logo">
      <a href="/"><img src="assets/logo.png" alt=""></a>
      <div class="triangle-left"></div>
      <div class="triangle-right"></div>
    </div>
  </div>
  <div class="header-toolbar">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="header-user pull-right">
          <ul class="custom-list">
            <li>
              <div class="header-user-forms">
                <div class="header-login">
                  <a href="#" class="">Login</a>
                </div>
                <div class="header-register">
                  <a href="#" class="">Register</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header-navbar">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <nav class="navigation">
          <ul class="list-inline text-center custom-list">
            {{#each navigationOptions as |opt|}}
              <li class="{{opt.class}}">
                {{#link-to opt.route}}
                  <span class="class">{{opt.title}}</span>
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
        </nav>
        <ul class="social list-inline">
          {{#each socialNavOptions as |opt|}}
            <li class="{{opt.class}}"><a href="{{opt.url}}">{{fa-icon opt.icon}}</a></li>
          {{/each}}
        </ul>
        <button class="navbar-toggle">
          <i class="fa fa-list"></i>
        </button>
      </div>
    </div>
  </div>
</header>
<!-- End Header -->
