<!-- Start Header -->
<header>
  <div class="header-toolbar text-uppercase not-supported">
    <div class="container">
      <div class="header-user pull-right">
        <ul>
          <li>
            <div class="header-user">
              <div class="header-login">
                <a href="#" class="">Login</a>
              </div>
              <div class="header-register">
                <a href="#" class="">Register</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header-logo">
      <a href="/">
        <img class="img-responsive" src="assets/logo.png" alt="doticos logo">
      </a>
      <div class="triangle-left"></div>
      <div class="triangle-right"></div>
    </div>
    <nav class="navbar navbar-inverse main-navbar text-uppercase">
      <div class="container-fluid">
        <ul class="social list-inline pull-right">
          {{#each socialNavOptions as |opt|}}
            <li class="{{opt.class}}"><a href="{{opt.url}}">{{fa-icon opt.icon}}</a></li>
          {{/each}}
        </ul>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <i class="fa fa-list"></i>
          </button>
          <a class="navbar-brand" href="/">
            <img class="img-responsive" src="assets/logo.png" alt="doticos logo">
          </a>
        </div>
        <div class="collapse navbar-collapse text-center" id="navbar">
          <ul class="nav navbar-nav">
            {{#each navigationOptions as |opt|}}
              <li class="{{opt.class}}">
                {{#link-to opt.route}}
                  <span class="class">{{opt.title}}</span>
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
